@import "_vars";

.footer-distributed {
	background-color: lighten($color-light, 15%);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 25px 50px 0 50px;

	.footer-left, .footer-center, .footer-right {
		display: inline-block;
		vertical-align: top;
	}
	.footer-left {
		width: 40%;
	}
	h3 {
		color: $color-dark;
		font: normal 36px 'Cookie', cursive;
		margin: 0;
		span {
			color: #5383d3;
		}
	}
	.footer-links {
		color: $color-dark;
		margin: 20px 0 12px;
		padding: 0;
		a {
			display: inline-block;
			line-height: 1.8;
			text-decoration: none;
			color: inherit;
		}
	}
	.footer-company-name {
		color: $color-dark;
		font-size: 14px;
		margin: 0;
	}
	.footer-center, .footer-right {
		width: 35%;
		i {
			background-color: $color-dark;
			color: #ffffff;
			font-size: 25px;
			width: 38px;
			height: 38px;
			border-radius: 50%;
			text-align: center;
			line-height: 42px;
			margin: 10px 15px;
			vertical-align: middle;
			&.fa-envelope {
				font-size: 17px;
				line-height: 38px;
			}
		}
		p {
			display: inline-block;
			color: $color-dark;
			vertical-align: middle;
			margin: 0;
			span {
				display: block;
				font-size: 14px;
				line-height: 2;
			}
			a {
				color: #5383d3;
				text-decoration: none;
			}
		}
	}
	.footer-right {
		width: 20%;
	}
	.footer-company-about {
		line-height: 20px;
		color: #92999f;
		font-size: 13px;
		margin: 0;
		span {
			display: block;
			color: #ffffff;
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 20px;
		}
	}
	.footer-icons {
		margin-top: 25px;
		a {
			display: inline-block;
			width: 35px;
			height: 35px;
			cursor: pointer;
			background-color: #33383b;
			border-radius: 2px;
			font-size: 20px;
			color: #ffffff;
			text-align: center;
			line-height: 35px;
			margin-right: 3px;
			margin-bottom: 5px;
		}
	}
}

/* Footer left */

/* The company logo */

/* Footer links */

/* Footer Center */

/* Footer Right */

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
	.footer-distributed {
		font: bold 14px sans-serif;
		.footer-left, .footer-center, .footer-right {
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
		}
		.footer-center i {
			margin-left: 0;
		}
	}
}