@import "_vars";

body {
	color: $color-darkest;
	font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
}

article {
	color: $color-darkest;
}

header {
	h1, h2, h3, h4, h5 {
		margin: 0;
		font-weight: normal;
	}
	h1 {
		padding: $top-padding 0 0 0;
	}
	h2 {
		color: $color-sub-title;
		font-size: 0.95em;
		span {
			margin-left: 2em;
			color: $color-dark-grey;
		}
	}	
}

img {
	width: 100%;
}

