$top-padding: 1em;

$now-brand-black: #373737;
$now-brand-white: #fff;

$color-really-darkest: #131313;
$color-darkest : #333;
$color-darker : #455464;
$color-dark : #828890;

$color-really-lightest : #f3f3f3;
$color-lightest : #e7e9eb;
$color-lighter : #cfd4d8;
$color-light : #bec1c6;

$color-success : #58B957;
$color-warning : #FFCA1F;
$color-warning-orange: #f7b480;
$color-danger : #EF4823;
$color-accent : #278efc;
$color-accent-light : #bddcfc;
$color-positive : #4BD762;
$color-negative : #FF402C;
$color-dark-blue : #495362;
$color-darkest-blue : #323844;
$color-yellow-light : #ffe366;
$color-yellow-lighter : #fff1b2;
$color-orange: #ff9416;
$color-darker-grey: #3e3e3e; //drop down menu (menu-bar) bk color
$color-dark-grey: #7d7d7d; //drop down menu (menu-bar) divider color
$color-title-text: #a2aec1; //studio, application explorer title
$color-darkest-grey: #2c3643; //nav-bar bk color

$color-sub-title: #576b95;
